@implements IDisposable

@inject NavigationManager NavigationManager

<PageTitle>Delete Recipe</PageTitle>
<div class="container py-5">
    <h1>Delete Recipe</h1>
    <h3 class="text-danger">Delete denied</h3>
    <p class="text-danger">You do not own this recipe.</p>


    <div class="button-container">
        <button  class="btn btn-success" OnClick="location.href='/Recipes/'" >Back to Recipes</button>
    </div>
</div>


@code {
    private string? currentUrl;

    // Called when the component is initialized
    protected override void OnInitialized()
    {
        // Get the current URL relative path
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        // Subscribe to location changes
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    // Event handler for location changes
    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        // Update the current URL relative path
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        // Trigger a re-render
        StateHasChanged();
    }

    // Dispose method to unsubscribe from location changes
    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
