@page "/"

<PageTitle>Home</PageTitle>

<div class="home">

  <div class="hero">

    <div class="hero-container">

      <h1>
        
        The Easiest Way to Make Your Favorite Meal
        
      </h1>

      <p>

        Whether you're looking to find new recipe inspiration, share you favorite dishes, or save go-to meals for future use, Recipe Vault has you covered.

      </p>

      <a class="link-button" href="recipes">

        Explore Recipes

      </a>

    </div>

  </div>

  <div class="categories">

    <div class="container">

      <h2>Popular Categories</h2>

      <div class="categories-container">

        <div class="category">

          <div>

            <span>Breakfast</span>

          </div>

          <img src="breakfast.jpg" alt="">

        </div>

        <div class="category">

          <div>

            <span>Dessert</span>

          </div>

          <img src="dessert.jpg" alt="">

        </div>
        
        <div class="category">

          <div>

            <span>Dinner</span>

          </div>

          <img src="dinner.jpg" alt="">

        </div>

        <div class="category">

          <div>

            <span>Drink</span>

          </div>

          <img src="drinks.jpg" alt="">

        </div>

        <div class="category">

          <div>

            <span>Salad</span>

          </div>

          <img src="salads.jpg" alt="">

        </div>

        <div class="category">

          <div>

            <span>Soup</span>

          </div>

          <img src="soups.jpg" alt="">

        </div>

      </div>

    </div>

  </div>

</div>
