@page "/person/{id:int}"

<PageTitle>Person</PageTitle>

@if(person != null)
{
    <p>Person Name: @person.Name</p>
    <p>Person Id: @person.Id</p>
    <EditForm Model="person" FormName="formPerson"  OnSubmit="submit">
        <InputText @bind-Value="person.Name" />
        <InputText @bind-Value="person.location" />
        <br />
        <button type="submit">Submit</button>

    </EditForm>
}


@inject NavigationManager NavigationManager

@code {


    // this is a URL Parameter
    [Parameter]
    public int Id { get; set; }

    

    // This is set by the form when it is submitted
    [SupplyParameterFromForm]
    private Person? person { get; set; }
    public class Person
    {
        public string Name { get; set; }
        public string location { get; set; }
        public int Id { get; set; }
    }



    // This runs when the page is loaded
    protected override void OnParametersSet()
    {

        // if the person is null, create a new person
        // person will be null when the page is first loaded
        // but will be set when the form is submitted
        person ??= new Person
        {
            Name = "Person 1",
            location = "USA",
            Id = this.Id
        };
        person.Id = this.Id;
    }

    private void submit()
    {
        // Handle the form submission and redirect to the person page
        Console.WriteLine("Person Name: " + person.Name);
        Console.WriteLine("Person Location: " + person.location);
        Console.WriteLine("Person Id: " + person.Id);

        // Redirect to the home page
        NavigationManager.NavigateTo("/counter", true);
    }

}