
.container {
    font-family: var(--roboto), Arial, Helvetica, sans-serif;
}

h1 {
    margin-bottom: 50px;
    font-size: 56px;
    font-family: var(--agbalumo), Arial, Helvetica, sans-serif;
    text-align: center;
}

.main {
    max-width: 800px;
    margin: 0 auto 80px;
}

.main p {
    margin-bottom: 0;
}

.main > div {
    margin-bottom: 50px;
}

.main h2 {
    font-weight: bold;
}

.main > div:last-child {
    margin-bottom: 0;
}

.buttons-container {
    display: flex;
    column-gap: 15px;
    max-width: fit-content;
    margin: 0 auto;
}
  
@media (max-width: 992px) {
    h1 {
        margin-bottom: 40px;
        font-size: 46px;
    }
}

@media (max-width: 768px) {
    h1 {
        margin-bottom: 30px;
        font-size: 36px;
    }
}
