@page "/recipes/"
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient
@inject IDbContextFactory<ApplicationDbContext> dbContext
@inject RecipeVault.Components.Account.IdentityUserAccessor UserAccessor
@using Microsoft.AspNetCore.Identity
@inject NavigationManager Navigation
@using RecipeVault.Models
@using System.Net.Http.Json
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.EntityFrameworkCore;
@using RecipeVault.Data;
@using RecipeVault.Models;


<PageTitle>Available Recipes</PageTitle>

<div class="container py-5">

    <h1>Recipes</h1>

    <div class="button-container">
        <button class="link-button" OnClick="location.href='/RecipeCreate/'" >Add New Recipe</button>
    </div>

    <div class="rows">

        @if (recipes != null && recipes.Any())
        {
            <div class="row row-heading">
                <span class="category">Category</span>
                <span class="name">Name</span>
                <span class="actions">Actions</span>
            </div>

            @foreach (var recipe in recipes)
            {
                <div class="row row-data">
                    <span class="category">@recipe.Category.Name</span>
                    <span class="name">@recipe.Name</span>
                    <div class="actions">
                        <button class="btn btn-primary" OnClick=" location.href='/RecipeView/@recipe.Id' " >View</button>
                        <button class="btn btn-secondary" OnClick=" location.href='/RecipeEdit/@recipe.Id' ">Edit</button>
                        <button class="btn btn-danger" OnClick=" location.href='/RecipeDelete/@recipe.Id' ">Delete</button>
                    </div>
                </div>
            }
        }
        else
        {
            <p>No recipes found.</p>
        }

    </div>

</div>

@code {

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;
    private List<Recipe> recipes{get;set;}

    protected override async Task OnInitializedAsync()
    {
        var user = await UserAccessor.GetUserAsync(HttpContext);
        using var context = dbContext.CreateDbContext();
            
       if(user is null){
        // Display public recipes only
            recipes = await context.Recipe
                .Include(r => r.Category)
                .Where(r =>  r.IsPublic)
                .ToListAsync();
        }
        else 
        {
        // Display public and logged in user private recipes
            recipes = await context.Recipe
                .Include(r => r.Category)
                .Where(r => r.UserId == user.Id || r.IsPublic)
                .ToListAsync();
        }

    }
 
    private void AddNewRecipe()
    {
        NavigationManager.NavigateTo("/RecipeCreate");
    }

}
